ErrorDocument 404 @/404.html

Redirect 303 /building_kaarpux.html 			@/building_overview.html
Redirect 303 /building_kaarpux_step_by_step.html 	@/building_overview.html
Redirect 303 /copying_kaarpux_overview.html		@/copying_kaarpux.html
Redirect 303 /copying_kaarpux_script_remote.html	@/copying_kaarpux.html
Redirect 303 /copying_kaarpux_unpack_tarball.html	@/copying_kaarpux.html
Redirect 303 /copying_kaarpux_using_tarball.html	@/copying_kaarpux.html
Redirect 303 /copying_kaarpux_using_tarball.html	@/copying_kaarpux.html
Redirect 303 /cups_startup.html				@/packages/c/cups.html
Redirect 303 /download.html				@/download_and_prepare.html
Redirect 303 /gnome_setup.html				@/packages/f/fuse.html
Redirect 303 /kvm.html					@/build_in_own_kvm.html
Redirect 303 /tracking_installed_files.html		@/dependency_tracking.html
Redirect 303 /tweaking_kaarpux_after_copying.html	@/copying_kaarpux_configure.html

Redirect 303 /changes_older.html 			@/kaarpux_changelog.html
RedirectMatch 303 ^/changes_[0-9_]+.html$		@/changes$0

Redirect 303 /packages_by_first_letter.html		@/packages/index.html

Redirect 303 /packages/a/adblockplus.html		@/packages/p/privacybadgerfirefox.html
Redirect 303 /packages/c/clucene.html			@/packages/l/libreoffice.html
Redirect 303 /packages/c/cppunit.html			@/packages/l/libreoffice.html
Redirect 303 /packages/d/dhcpcd.html			@/packages/d/systemd.html
Redirect 303 /packages/g/gcalctool.html			@/packages/g/gnome-calculator.html
Redirect 303 /packages/g/gconf-editor.html		@/packages/g/gnome-settings-daemon.html
Redirect 303 /packages/g/GConf.html			@/packages/g/gnome-settings-daemon.html
Redirect 303 /packages/g/geoclue2.html			@/packages/g/geoclue2.html
Redirect 303 /packages/g/ghostery.html			@/packages/p/privacybadgerfirefox.html
Redirect 303 /packages/g/gnome-documents.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/g/gnome-panel.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/g/gnome-python.html		@/packages/p/pygtk.html
Redirect 303 /packages/g/gnome-screensaver.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/g/gnome-search-tool.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/g/gnome-system-log.html		@/packages/g/gnome-logs.html
Redirect 303 /packages/g/gnome-themes.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/g/gnome-vfs.html			@/packages/g/gvfs.html
Redirect 303 /packages/g/graphite2.html			@/packages/l/libreoffice.html
Redirect 303 /packages/g/gtk-engines-2.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/g/gtk-engines.html		@/packages/g/gnome-shell.html
Redirect 303 /packages/i/icedtea6.html			@/packages/i/icedtea7.html
Redirect 303 /packages/i/icedtea7-bin.html		@/packages/o/oraclejdk-bin.html
Redirect 303 /packages/i/icedtea7.html			@/packages/o/openjdk.html
Redirect 303 /packages/i/icedtea-cacerts.html		@/packages/o/openjdk-cacerts.html
Redirect 303 /packages/i/icedtea.html			@/packages/i/icedtea7.html
Redirect 303 /packages/j/js185.html			@/packages/m/mozjs.html
Redirect 303 /packages/l/ldtp.html			@/verifying_kaarpux.html
Redirect 303 /packages/l/libcdr.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/libcmis.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/libdiscid.html			@/packages/l/libmusicbrainz.html
Redirect 303 /packages/l/libelf.html			@/packages/e/elfutils.html
Redirect 303 /packages/l/libepc.html			@/packages/t/totem.html
Redirect 303 /packages/l/libetonyek.html		@/packages/l/libreoffice.html
Redirect 303 /packages/l/libexttextcat.html		@/packages/l/libreoffice.html
Redirect 303 /packages/l/libglade.html			@/packages/g/glade.html
Redirect 303 /packages/l/libgnome-keyring.html		@/packages/l/libsecret.html
Redirect 303 /packages/l/libjpeg.html			@/packages/l/libjpeg-turbo.html
Redirect 303 /packages/l/liblangtag.html		@/packages/l/libreoffice.html
Redirect 303 /packages/l/libodfgen.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/liborcus.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/libusbx.html			@/packages/l/libusb.html
Redirect 303 /packages/l/libvisio.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/libwpd.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/libwpg.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/libwps.html			@/packages/l/libreoffice.html
Redirect 303 /packages/l/logilab-astng.html		@/packages/a/astroid.html
Redirect 303 /packages/l/lpsolve.html			@/packages/l/libreoffice.html
Redirect 303 /packages/m/mdds.html			@/packages/l/libreoffice.html
Redirect 303 /packages/m/metacity.html			@/packages/g/gnome-shell.html
Redirect 303 /packages/m/mozjs.html			@/packages/m/mozjs24.html
Redirect 303 /packages/m/mx.html			@/packages/g/gnome-shell.html
Redirect 303 /packages/m/nss-mdns.html			@/packages/n/nss-mdns.html
Redirect 303 /packages/m/nss-myhostname.html		@/packages/s/systemd.html
Redirect 303 /packages/p/ppp.html			@/packages/n/NetworkManager.html
Redirect 303 /packages/p/procps.html			@/packages/p/procps-ng.html
Redirect 303 /packages/p/py2cairo.html			@/packages/p/pycairo.html
Redirect 303 /packages/p/pygobject2.html		@/packages/p/pygobject.html
Redirect 303 /packages/p/pygobject33.html		@/packages/p/pygobject.html
Redirect 303 /packages/p/pygtk.html			@/packages/p/pygobject.html
Redirect 303 /packages/p/pysqlite.html			@/packages/p/Python2.html
Redirect 303 /packages/q/qemu-kvm.html			@/packages/q/qemu.html
Redirect 303 /packages/r/raptor2.html			@/packages/l/libreoffice.html
Redirect 303 /packages/r/rasqal.html			@/packages/l/libreoffice.html
Redirect 303 /packages/r/redland.html			@/packages/l/libreoffice.html
Redirect 303 /packages/r/rhino.html			@/packages/o/openjdk.html
Redirect 303 /packages/s/shared-color-profiles.html	@/packages/c/colord.html
Redirect 303 /packages/s/sysklogd.html			@/packages/d/systemd.html
Redirect 303 /packages/s/sysvinit.html			@/packages/d/systemd.html
Redirect 303 /packages/s/tcl.html			@/packages/t/tcl.html
Redirect 303 /packages/u/udev.html			@/packages/d/systemd.html
Redirect 303 /packages/v/vigra.html			@/packages/l/libreoffice.html
Redirect 303 /packages/x/xorg-xcb.html			@/packages/l/libxcb.html
Redirect 303 /packages/x/xulrunner.html			@/packages/f/firefox.html
